
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="~/Content/css/table.css">
       
    </head>
      <div>
          <div class="section-title" style="text-align:left;float:left;width:100%;margin-bottom:0">
              <span>Выберите сеанс</span>
          </div>
                <h3>Продажа билетов</h3>
                
                    <table>
                        <thead>
                            <tr class="header">
                                <td><p>Название фильма</p></td>
                                <td><p>Время</p></td>
                                <td><p>Цена</p></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Cinema.Models.Film b in Model)

                            {
                                <tr>
                                    <td><p>@b.Name</p></td>
                                    <td><p>@b.Time</p></td>
                                    <td><p>@b.Price</p></td>
                                    <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
                                </tr>
                            }
                        </tbody>
                    </table>
               
           
    </div>
